old_models/
samples/
*.png
.DS_Store
heatmaps/
.ipynb_checkpoints/
bad_pars.txt
data/
loss/
output.out
std_scaler.bin
__pycache__/
*.out
traces/
dists/
compare/
*.so
*.dylib
*.rtf
*.txt
*.csv
*.gif
*.pdf
*.ipynb
sbi-logs/
nextspec/
ResponseFiles/
*.h5
likelihoods.py
ndspec/
images/
*.pha
*.dat
test_plot.py
*.mod
*.o
lensing/
.vscode/
rtfast_root/rtfast.egg-info/
