samples/
*.png
.DS_Store
heatmaps/
Active Learning for Emulators.ipynb
.ipynb_checkpoints/
bad_pars.txt
data/
loss/
models/
output.out
std_scaler.bin
__pycache__/
scalers/
*.out
traces/
dists/
compare/
*.rtf
*.txt
*.csv
*.gif
*.pdf
inference.ipynb
sbi-logs/
nextspec/
ResponseFiles/
*.h5
likelihoods.py
